<div>
    <div class="card" style="width: 500px; height: 500px; margin: 100px auto;padding: 10px;">
        <div class="font-monospace fs-1 fw-bold" style="text-align: center; padding: 20px 0px 10px;">
            Trainer Details
        </div>
        <div class="card-body">
            <div class="font-monospace fs-4 fw-bold" style="text-align: left; padding: 20px 0px 10px;">
                Name : {{data.name}}
            </div>
            <div class="font-monospace fs-4 fw-bold" style="text-align: left; padding: 20px 0px 10px;">
                Contact Number : {{data.mobileno}}
            </div>
            <div class="font-monospace fs-4 fw-bold" style="text-align: left; padding: 20px 0px 10px;">
                Email-Id : {{data.email}}
            </div>
            <div class="font-monospace fs-4 fw-bold" style="text-align: left; padding: 20px 0px 10px;">
                Age : {{data.age}}
            </div>
            <div class="font-monospace fs-4 fw-bold" style="text-align: left; padding: 20px 0px 10px;">
                Experience : {{data.experience}}
            </div>
        </div>
      </div>
</div>

